<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="CommonWin32" version="2.0.3" targetFramework="net45" />
  <package id="CyotekImageBox" version="1.1.4.2" targetFramework="net45" />
  <package id="Fody" version="1.22.1" targetFramework="net45" developmentDependency="true" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MvvmFx-WinForms" version="2.0.2" targetFramework="net45" />
  <package id="NTwain" version="0.7.3" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.47.0.0" targetFramework="net45" developmentDependency="true" />
</packages>